/*Start Global  */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    scroll-behavior: smooth;

}

:root {
    --main-color: #19c8fa;
    --margin-section: 100px;
    --transpertant-color: rgb(15 116 143 / 70%);
}


body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style-type: none;
}


/* end Global */


/* Start Container */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}


/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}



/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}



/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Container */


/* start main heading */

.main-heading {
    text-align: center;
}


.main-heading h2 {
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
}


.main-heading h2::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 2px solid;
    border-radius: 50%;
    left: 50%;
    bottom: -23px;
    transform: translateX(-50%);
    background-color: white;
}


.main-heading h2::before {
    content: '';
    position: absolute;
    width: 130px;
    height: 2px;
    background-color: #333;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}


.main-heading p {
    width: 550px;
    line-height: 2;
    color: #777;
    max-width: 100%;
    margin: 0 auto var(--margin-section);

}

/* end main heading */


/* start header */


header {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 1;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


header .container img {
    height: 40px;
}


header .container::after {
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    height: 1px;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
    z-index: -1;
}


header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}



header nav ul {
    display: flex;
}


@media (max-width:768px) {
    header nav ul {
        display: none;
    }

    header {
        margin-top: 10px;
        padding: 10px;
    }

    header nav {
        padding: 10px;
    }

}


header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 40px 20px;
}



header nav ul li a.active,
header nav ul li a:hover {
    border-bottom: 1px solid var(--main-color);
    color: var(--main-color);

}


header nav .search-icon {
    color: white;
    border-left: 1px solid white;
    padding: 10px 20px;
    margin-left: 30px;
}


header nav .toggle-menu {
    color: white;
    font-size: 30px;
    cursor: pointer;

}


@media (min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }

}


@media (max-width:767px) {
    header nav .toggle-menu:hover+ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    header nav ul li a {
        padding: 10px;
        margin-top: 10px;
    }
}


/* end header */


/* start landing */

.landing {
    min-height: 100vh;
    /* min-height  is for the min height of the background image that the image will
    full screen of the design */

    background-image: url(media/landing.jpg);
    background-size: cover;
    background-color: #1f2021;
    position: relative;
    margin-bottom: var(--margin-section);
}


.landing .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 60%);
}


.landing .text .content {
    max-width: 500px;

}


.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    transform: translateY(-50%);
    background-color: var(--transpertant-color);
    color: white;
    padding: 50px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


@media (max-width:767px) {
    .landing .text {
        width: 100%;

    }

}


.landing .text .content h2 {
    font-size: 30px;
    line-height: 1.6;
    font-weight: normal;

}


.landing .text .content p {
    font-size: 15px;
    font-weight: normal;
    line-height: 1.7;
    margin-top: 20px;
}


.landing .change-background {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}


@media (max-width:767px) {
    .landing .change-background {
        display: none;
    }
}


.landing .fa-angle-left {
    left: 30px;

}


.landing .fa-angle-right {
    right: 30px;

}


.landing .bullets {

    position: absolute;
    left: 50%;
    bottom: 30px;
    display: flex;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}


.landing ul li {
    width: 20px;
    height: 20px;
    border: 2px solid white;
    margin-right: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.landing .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);


}

/* end landing */


/* start services */

.service-container {
    margin-bottom: var(--margin-section);

}


.services .container .service-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 50px;
}


@media (max-width:767px) {
    .services .container .service-container {
        display: flex;
        flex-direction: column;
    }

}


.services .container .content {
    display: flex;
    margin-bottom: 50px;

}


@media (max-width:767px) {
    .services .container .content {
        flex-direction: column;
        text-align: center;
    }

    .services .container .content i {
        margin: 0 0 30px 30px;
    }
}


.services .container .content i {
    margin-right: 50px;

}


.services .container .content h2 {
    color: var(--main-color);
    margin-bottom: 30px;

}


.services .container .content p {
    line-height: 2;
    color: #777;
}

/* end services */

/* start design */

.design {
    position: relative;
    background-image: url(media/design-features.jpg);
    width: 100%;
    height: 600px;
    padding: 30px;
    overflow: hidden;
    margin-bottom: var(--margin-section);
}


.design .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 60%);
    display: flex;
}


.design .design-text {
    position: absolute;
    right: 0;
    top: 30%;
    background-color: var(--transpertant-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 50%;
}


@media (max-width:767px) {
    .design .design-text {
        width: 100%;
        position: absolute;
        top: 24%;
    }


}


.design .design-text h2 {
    color: white;
    margin-bottom: 40px;
    text-transform: uppercase;
    margin-left: 30px;
}


.design .design-text ul li {
    color: white;
    padding: 15px;
    margin-left: 50px;
    position: relative;
}


.design .design-text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f390";
    font-weight: 900;
    position: absolute;
    left: -20px;


}


.design .image {
    text-align: center;
}


.design .image img {
    position: absolute;
    bottom: -50px;
    left: 150px;
    flex: 1;
}


@media (max-width:767px) {
    .design .image img {
        display: none;

    }


}

/* end design */

/* start portfolio */
.portfolio {
    position: relative;
}


.portfolio .shuffle {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.portfolio .shuffle .active {
    background-color: var(--main-color);
    color: white;
}


.portfolio .shuffle li {
    padding: 10px;
    margin-right: 10px;

}


.portfolio .box {
    display: flex;
    flex-wrap: wrap;

}


.portfolio .box-content {
    overflow: hidden;
    position: relative;
    flex-basis: 25%;
}


@media (max-width:970px) {
    .portfolio .box-content {
        flex-basis: 50%;
    }

}


@media (max-width:767px) {
    .portfolio .box-content {
        flex-basis: 100%;
    }

}


.portfolio .box-content img {
    max-width: 100%;
    transition: 4s;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -ms-transition: 4s;
    -o-transition: 4s;

}


.portfolio .box-content:hover img {
    transition: 0.3s;
    transform: rotate(4deg) scale(1.1);
    -webkit-transform: rotate(4deg) scale(1.1);
    -moz-transform: rotate(4deg) scale(1.1);
    -ms-transform: rotate(4deg) scale(1.1);
    -o-transform: rotate(4deg) scale(1.1);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.portfolio .box-content .caption {
    width: 100%;
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: 4s;
    -webkit-transition: 4s;
    -moz-transition: 4s;
    -ms-transition: 4s;
    -o-transition: 4s;
}

.portfolio .box-content:hover .caption {
    bottom: 0px;
    padding: 10px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}





.portfolio .box-content .caption h2 {
    font-weight: normal;
}


.portfolio .box-content .caption p {
    color: var(--main-color);
}


.portfolio .more {
    background-color: var(--main-color);
    color: white;
    position: absolute;
    left: 50%;
    margin-top: 40px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

/* end portfolio */

/* start video */
.video {
    position: relative;
    margin-top: 150px;
}


.video video {
    width: 100%;
}


.video .text {
    position: absolute;
    background-color: var(--transpertant-color);
    top: 50%;
    transform: translateY(-50%);
    padding: 30px;
    width: 100%;
    text-align: center;
}


.video .text h2 {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 2px;
}


.video .text p {
    color: white;
    margin-bottom: 20px;
    letter-spacing: 2px;
}


.video button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 13px 7px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* end video */

/* start about */

.about {
    margin-top: var(--margin-section);
    overflow: hidden;
    text-align: center;
}


.about img {
    max-width: 100%;
    position: relative;
    bottom: -120px;
    margin-top: -120px;



}

/* end about */

/* start numbering */

.numbering {
    background-image: url(media/pexels-steve-johnson-1269968.jpg);
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}



.numbering::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 60%);

}


.numbering .number-content {
    background-color: var(--transpertant-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: relative;
    width: 90%;
    margin: auto;
    padding: 50px;

}



.numbering .number-content .number-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media (max-width: 767px) {
    .numbering .number-content .number-box {
        flex-basis: 100%;
    }
}



@media (min-width: 768px) {
    .numbering .number-content .number-box {
        flex-basis: 50%;
    }
}


@media (min-width: 992px) {
    .numbering .number-content .number-box {
        flex-basis: 25%;
    }
}

.numbering .number-box i {
    color: white;
    margin-bottom: 25px;
    background-color: black;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.numbering .number-box .number {
    color: white;
    margin-bottom: 25px;
    font-size: 50px;
    font-weight: 600;
}


.numbering .number-box .para {
    color: white;
    margin-bottom: 35px;
    font-size: 15px;
    letter-spacing: 1.1px;
}

/* end numbering */


/* start skills */
.skills .container {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 80px;
}


@media (max-width:767px) {

    .skills .container {
        display: flex;
        flex-direction: column;
    }
}


.skills .container .box-1 {
    position: relative;
}


.skills .container .box-1 .base {
    text-align: center;
    margin-bottom: 50px;
}


.skills .container .box-1 .base h2,
.h2 {
    font-weight: normal;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 20px;
}


.skills .container .box-1 .base p,
.para-1 {
    line-height: 2;
    color: #777;
}


.skills .container .box-1 .base-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    position: relative;
}


@media (max-width:767px) {
    .skills .container .box-1 .base-1 {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .skills .container .box-1 .base-1 img {
        margin: 0 auto 20px 0;
    }
}



.skills .container .box-1 .base-1 img {
    margin-top: 15px;
    margin-right: 45px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.skills .container .box-1 .base-1 .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border-bottom: 1px solid #ccc;
}

/* 
.skills .container .box-1 .base-1 .text::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 1px;
    background-color: #777;
    bottom: -10px;
    left: 55%;
    transform: translateX(-50%);
} */


.skills .container .box-1 .base-1 .text p {
    line-height: 2;
}


.skills .container .box-1 .base-1 .text h5 {
    place-self: flex-end;
    font-weight: normal;
    color: #777;
    margin-bottom: 15px;
    /* text-align: right; */
}

.skills .container .box-1 ul {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.skills .container .box-1 ul li {
    border: 1px solid #777;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


.skills .container .box-1 ul .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}


.skills .container .box-2 {
    text-align: center;
    padding-right: 40px;
}

@media (max-width:767px) {
    .skills .container .box-2 {
        padding: 0;
    }


}


.skills .container .box-2 .base-2 {
    margin-bottom: 50px;
}


.skills .container .box-2 .ranging {
    display: flex;
    flex-direction: column;
}


.skills .container .box-2 .ranging .range {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;


}


.skills .container .box-2 .ranging .range p {
    place-self: flex-start;
    margin-bottom: 10px;
    text-transform: uppercase;
}


.skills .container .box-2 .ranging .range .progress-1 {
    background-color: #77777752;
    height: 30px;
    margin-bottom: 16px;
    position: relative;
}


.skills .container .box-2 .ranging .range .progress-1 span {
    background-color: var(--main-color);
    display: block;
    height: 30px;
    position: relative;
}


.skills .container .box-2 .ranging .range .progress-1 span:before {
    content: attr(data-progress);
    position: absolute;
    top: -40px;
    right: -20px;
    background-color: black;
    color: white;
    padding: 5px 0;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


.skills .container .box-2 .ranging .range .progress-1 span:after {
    content: "";
    position: absolute;
    border-width: 8px;
    border-style: solid;
    border-color: black transparent transparent;
    top: -12px;
    right: -7px;
}


/* 
.skills .container .box-2 .ranging .range .progress-1::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    width: 90%;
    left: 0;
    height: 100%;

}


.skills .container .box-2 .ranging .range .progress-1::after {
    content: "90%";
    position: absolute;
    top: -45px;
    right: 25px;
    background-color: black;
    color: white;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}


.skills .container .box-2 .ranging .range .progress-2::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    width: 85%;
    left: 0;
    height: 100%;

}


.skills .container .box-2 .ranging .range .progress-2::after {
    content: "85%";
    position: absolute;
    top: -45px;
    right: 50px;
    background-color: black;
    color: white;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}


.skills .container .box-2 .ranging .range .progress-3::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    width: 80%;
    left: 0;
    height: 100%;

}


.skills .container .box-2 .ranging .range .progress-3::after {
    content: "80%";
    position: absolute;
    top: -45px;
    right: 70px;
    background-color: black;
    color: white;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

}


.skills .container .box-2 .ranging .range .progress-4::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    width: 90%;
    left: 0;
    height: 100%;

}


.skills .container .box-2 .ranging .range .progress-4::after {
    content: "90%";
    position: absolute;
    top: -45px;
    right: 25px;
    background-color: black;
    color: white;
    width: 40px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;

} */

/* end skills */

/* start quote */

.quote {
    position: relative;
    margin-bottom: 100px;
}


.quote img {
    height: 300px;
    width: 100%;
}

.quote::before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 60%);

}


.quote .text {
    color: white;
    text-align: center;
    background-color: var(--transpertant-color);
    width: 90%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}




.quote .text q {
    font-size: 30px;
}


.quote .text h3 {
    margin-top: 20px;
    font-weight: normal;
}



/* end quote */


/*start pricing  */

.pricing .container .price {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}


@media (max-width:767px) {
    .pricing .container .price {
        flex-direction: column;
        text-align: center;
    }

}


.pricing .container .price .price-1 {
    background-color: rgb(252, 252, 252);
    width: 250px;
    margin-bottom: 50px;
    height: 550px;

}


@media (max-width:767px) {
    .pricing .container .price .price-1 {
        /* margin-bottom: 100px; */
        width: 100%;
        /* height: 60vh; */

    }
}


.pricing .container .price .price-1 .basic h2 {
    font-weight: normal;
    font-size: 20px;
    padding: 25px 0 0;
    border-top: 1px solid var(--main-color);
    text-transform: uppercase;
}


.pricing .container .price .price-1 .number {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 30px;
    padding-bottom: 20px;
    margin-top: 10px;
}


.pricing .container .price .price-1 .number .A {
    font-size: 20px;
    display: block;
    margin-left: -130px;
    margin-bottom: -20px;
}

.pricing .container .price .price-1 .number .b {
    font-size: 60px;
    font-weight: bold;
}


.pricing .container .price .price-1 .number .c {
    font-weight: bold;
    display: inline-block;
    margin-left: 10px;
}


.pricing .container .price .price-1 .text {
    border-bottom: 1px solid var(--main-color);
    margin-bottom: 30px;
}


.pricing .container .price .price-1 .text .one {
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;

}

.pricing .container .price .price-1 .text .one::before {
    content: "";
    position: absolute;
    width: 60%;
    background-color: var(--main-color);
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}



.pricing .container .price .price-1 .text .two {
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;

}


.pricing .container .price .price-1 .text .two::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 60%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.pricing .container .price .price-1 .text .three {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}


.pricing .container .price .price-1 .text .three::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 60%;
    height: 1px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


.pricing .container .price .price-1 .text .four {
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
}


.pricing .container .price .price-1 button {
    padding: 20px 30px;
    border-color: var(--main-color);
    border-width: 18px;
    color: var(--main-color);
    background-color: rgb(252, 252, 252);
    cursor: pointer;
    border: none;
    border: 1px solid var(--main-color);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}



.pricing .container .price .price-1 button:hover {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    transition: 0.4s;
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}

/*end pricing  */


/* start contact */

.contact .container {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;

}


.contact .container .box-1 {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
}


.contact .container .box-1 p {
    margin-bottom: 20px;
    font-size: 20px;

}


.contact .container .box-1 button {
    padding: 20px 30px;
    border-color: var(--main-color);
    border-width: 18px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border: none;
    border: 1px solid var(--main-color);
    text-transform: capitalize;
}


.contact .mail {
    background-image: url(media/subscribe.jpg);
    background-size: cover;
    margin-bottom: 100px;
    padding: 100px;
    position: relative;
}


@media (max-width:767px) {
    .contact .mail {
        padding: 100px 0 100px;

    }

}

.contact .mail::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 60%);
}


.contact .mail .subscribe {
    position: relative;
    display: flex;
    max-height: 60px;

}


@media (max-width:767px) {
    .contact .mail .subscribe {
        flex-direction: column;
    }

}

.contact .mail .subscribe .content {
    display: flex;
    border: 1px solid white;
    margin-right: 50px;
    max-width: 100%;

}

@media (max-width:767px) {
    .contact .mail .subscribe .content {
        margin: 0 0 30px;
        width: fit-content;
    }

}


.contact .mail .subscribe .content input {
    background-color: transparent;
    caret-color: var(--main-color);
    padding: 15px 40px 15px 60px;
    border: none;
    color: var(--main-color);
    position: relative;
}


.contact .mail .subscribe .content input:focus,
.contact .mail .subscribe .content button:focus {
    outline: none;
}


.contact .mail .subscribe .content input::placeholder {
    color: white;
}


.contact .mail .subscribe .content i {
    color: white;
    position: absolute;
    z-index: 1;
    font-size: 25px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}


.contact .mail .subscribe .content button {
    padding: 20px 30px;
    border-color: var(--main-color);
    border-width: 18px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border: none;
    border: 1px solid var(--main-color);
    text-transform: uppercase;
}


@media (max-width:767px) {
    .contact .mail .subscribe .content button {
        margin-left: -70px;
    }

}


.contact .mail .subscribe p {
    color: white;
    padding: 0 20px 0 20px;
    margin-bottom: 30px;
    line-height: 2;
}

/* end contact */

/* start contact us */

.contact-us .container {
    padding-bottom: 100px;
}


.contact-us .container .content {
    display: flex;
    flex-wrap: wrap;
}


@media (max-width:767px) {
    .contact-us .container .content {
        flex-direction: column;
    }

}


.contact-us .container .content form {
    flex-basis: 70%;
    display: flex;
    flex-direction: column;


}


.contact-us .container .content form input {
    width: 90%;
    margin-bottom: 50px;
    padding: 10px 0 20px 20px;
    border: 1px solid #ccc;
}


.contact-us .container .content form input:focus,
.contact-us .container .content form textarea:focus {
    outline: none;
}

.contact-us .container .content form textarea {
    width: 90%;
    height: 50px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    min-width: 90%;
    padding: 20px 0 0 20px;
    min-height: 50%;
}


.contact-us .container .content form input[type="button"] {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    width: fit-content;
    align-self: end;
    margin-right: 10%;
    /* display: flex; */
    /* margin-left: auto; */
}


.contact-us .container .info {
    flex-basis: 25%;
}


@media (max-width:767px) {
    .contact-us .container .info {
        order: -1;
    }
}


.contact-us .container .info .info-1 {
    margin-bottom: 100px;
}


@media (max-width:991px) {
    .contact-us .container .info .info-1 {
        text-align: center;
        margin-bottom: 50px;
    }

}


.contact-us .container .info .info-1 h3 {
    font-weight: 500;
    margin-bottom: 30px;
}


.contact-us .container .info .info-1 p {
    color: #ccc;
    margin-bottom: 20px;
}

/* end contact us */

/* start footer */
.footer {
    background-image: url(media/subscribe.jpg);
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    text-align: center;
    color: white;
}


.footer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 70%);
}


.footer .content {
    position: relative;
    text-align: center;
}


.footer .content img {
    margin-bottom: 30px;

}


.footer .content p:not(.copyright) {
    border-bottom: 1px solid white;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px;
    width: fit-content;
    margin: 20px auto;
}


.footer .content div i {
    padding: 20px;
}


.footer .content p {
    margin-top: 50px;


}


.footer .content p span {
    color: var(--main-color);
    font-weight: bold;
}

/* start footer */
